<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="Exceptionless.NLog" />
  </extensions>

  <targets async="true">
    <target xsi:type="Exceptionless"
            name="exceptionless"
            apiKey="7IUdEP6s7gJ66ptDxGF1w3o2E7Po4kVpJc3AQKlS"
            serverUrl="http://localhost:8000">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="exceptionless" />
  </rules>
</nlog>